body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:77px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:77px;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:19px;
  width:50px;
  height:39px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:left;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:17px;
  width:145px;
  height:43px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:left;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:990px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:600px;
  height:990px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:77px;
  width:435px;
  height:56px;
  font-size:24px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:431px;
  word-wrap:break-word;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:207px;
  width:565px;
  height:204px;
  font-size:19px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:561px;
  word-wrap:break-word;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:358px;
  width:140px;
  height:40px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
