body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:1046px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:40px;
  width:578px;
  height:1046px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:194px;
  width:414px;
  height:736px;
}
#u66_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:194px;
  width:414px;
  height:736px;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:741px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:192px;
  width:416px;
  height:741px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FF0000;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:217px;
  width:73px;
  height:33px;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#FF0000;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
  text-align:left;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:212px;
  width:166px;
  height:42px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
  text-align:left;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:2px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:276px;
  width:416px;
  height:1px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:219px;
  width:28px;
  height:28px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:287px;
  width:410px;
  height:378px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:111px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:center;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:460px;
  width:345px;
  height:111px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:center;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:345px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:268px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:665px;
  width:409px;
  height:268px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:571px;
  width:265px;
  height:44px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:center;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:10px;
  width:322px;
  height:54px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:center;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:322px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:935px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:1181px;
  width:466px;
  height:935px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1279px;
  width:412px;
  height:735px;
}
#u81_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:735px;
  overflow:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:735px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:1279px;
  width:412px;
  height:735px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1277px;
  width:413px;
  height:55px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1332px;
  width:415px;
  height:61px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:1291px;
  width:28px;
  height:28px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1392px;
  width:414px;
  height:627px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#333333;
  text-align:left;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:1288px;
  width:196px;
  height:34px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#333333;
  text-align:left;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#868686;
  text-align:left;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1351px;
  width:337px;
  height:37px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#868686;
  text-align:left;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:337px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FF0000;
  text-align:left;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1403px;
  width:414px;
  height:52px;
  font-family:'Microsoft Sans Serif Bold', 'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#FF0000;
  text-align:left;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:414px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
  text-align:left;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1468px;
  width:414px;
  height:62px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
  text-align:left;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:414px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:1346px;
  width:37px;
  height:40px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1392px;
  width:414px;
  height:1px;
  text-align:left;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1332px;
  width:414px;
  height:1px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1468px;
  width:414px;
  height:1px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:1537px;
  width:414px;
  height:1px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:658px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1343px;
  width:400px;
  height:658px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:1970px;
  width:104px;
  height:28px;
  font-size:18px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:44px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1699px;
  width:265px;
  height:44px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:21px;
  color:#333333;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:265px;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:143px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:center;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:1546px;
  width:316px;
  height:143px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:center;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:316px;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:center;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:1096px;
  width:457px;
  height:75px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:center;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:457px;
  word-wrap:break-word;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#333333;
  text-align:left;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:323px;
  width:283px;
  height:313px;
  font-family:'Microsoft Sans Serif Normal', 'Microsoft Sans Serif';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  color:#333333;
  text-align:left;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
